<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-5 p-3 border-bottom">
  <a class="navbar-brand">Humans vs Zombies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li  *ngIf="!isLoggedIn" class="nav-item active">
        <a class="nav-link" (click)="handleLogin()">Login</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="handleLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
