<div class="container-fluid pt-5 background">
  <div class="row">

    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let game of games">
      <div
        [ngClass]="setCurrentClasses(game)">
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          <p class="card-text">{{game.state}}</p>
          <p class="card-text">Number of Players: {{game?.players ? game?.players?.length : "0"}}</p>
          <a class="btn btn-light text-dark" [routerLink]="'/game/' + game.id">Details</a>
        </div>
      </div>
    </div>

  </div>
</div>
