<div class="container-fluid pt-5 background">
  <div class="row d-felx justify-content-center">
    <div class="col-sm-10 col-md-10 col-xl-8">


        <div class="card mb-3 mb-md-2">
          <div class="card-body">
            <h4 class="card-title">{{game?.name}}</h4>

<!-- Game description segment-->
            <div class="game-info">
              <p class="card-text">{{game?.state}}</p>
              <p class="card-text">Game description segment, unique for each game, e. g location and player count:</p>
              <p class="card-text">Number of Players: {{game?.players ? game?.players?.length : "0"}}</p>
              <p class="card-text">Game roles, same for all games, can be burnt in. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Maecenas id augue hendrerit, sagittis ex non, euismod nisi.
                Vivamus malesuada faucibus accumsan. Mauris lacinia semper bibendum.
                In tristique volutpat egestas. In vitae dui egestas, consectetur nibh id,
                scelerisque magna. Mauris in magna finibus, accumsan est vitae, vestibulum purus.
              </p>
              <a *ngIf="game?.state === 'Registration' && !player" (click)="joinGame()" class="btn btn-success d-block">Join game</a>
              <a *ngIf="game?.state === 'Registration' && player" (click)="leaveGame()" class="btn btn-danger d-block">Leave game</a>
            </div>

            <!-- Map segment-->
            <div class="map my-5">
              <app-map [game]="game"></app-map>
            </div>

<!-- Bite code -->
            <div class="bite-code mb-5" *ngIf="player && player.isHuman">
              Bite code: 7452 (only if player joined game and isHuman)
            </div>

<!-- Bite code entry form-->
            <form *ngIf="player && !player.isHuman" [formGroup]="killForm" (ngSubmit)="onKillSubmit()" class="mb-5">
              <div class="mb-3 bite-code-container">
                <label for="bite-code-input" class="form-label">Enter bite code (only if player joined game and !isHuman)</label>
                <input formControlName="biteCode" type="text" class="form-control" id="bite-code-input" placeholder="1234">
              </div>
              <div class="mb-3 kill-story-container">
                <label for="kill-story-input" class="form-label">Add your story (only if player joined game and !isHuman)</label>
                <input formControlName="killStory" type="text" class="form-control" id="kill-story-input" placeholder="E.g. CrazyZombie killed LameHuman">
              </div>
              <button class="btn btn-primary text-white mb-2" [disabled]=killForm.invalid>Register Kill</button>
            </form>

<!--  If not in squad -->
            <div *ngIf="player && player.isHuman" class="enter-squad mb-5">

              <h5>Enter a squad (only if player joined game and not in squad)</h5>
              <!-- Create new squad form -->
              <div class="mb-3 bite-code-container">
                <label for="squad-name-input" class="form-label">Create new squad (only if player joined game)</label>
                <input type="text" class="form-control" id="squad-name-input" placeholder="Enter squad name">
              </div>

              <!--Join existing squad-->
              <div class="squads-header">
                Join an existing squad
              </div>

              <!-- Todo: squads from db with ngFor-->
              <div class="row squads">
                <div class="col-sm-12">

                  <div class="card mb-2">
                    <div class="card-body">
                      <h5 class="card-title">Squad 01</h5>
                      <p class="card-text">Total members: 3</p>
                      <p class="card-text">Deceased members: 1</p>
                      <a class="btn btn-primary">Join squad</a>
                    </div>
                  </div>

                  <div class="card mb-2">
                    <div class="card-body">
                      <h5 class="card-title">Squad 02</h5>
                      <p class="card-text">Total members: 4</p>
                      <p class="card-text">Deceased members: 2</p>
                      <a class="btn btn-primary">Join squad</a>
                    </div>
                  </div>

                </div>
              </div>

            </div>

<!--  If in squad          -->
            <div *ngIf="player && player.isHuman" class="your-squad mb-5">
              <h5>Your squad (only if player joined game and in squad)</h5>

              <div class="row squads">
                <div class="col-sm-12">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Squad 01</h5>
                      <p class="card-text">Members:</p>
                      <p class="card-text">Member 1, Relative rank(?), Alive</p>
                      <p class="card-text">Member 2, Relative rank(?), Deceased</p>
                      <div class="mb-2">
                        <a class="btn btn-info">Check-in</a>
                      </div>
                      <a class="btn btn-danger">Leave squad</a>
                    </div>
                  </div>

                </div>
              </div>

            </div>

<!--  Chat segment          -->
            <div *ngIf="player" class="chat-container">

              <h5 class="mb-3">Chat</h5>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="global-tab" data-bs-toggle="tab" data-bs-target="#global-tab-content" type="button" role="tab" aria-controls="global-tab-content" aria-selected="true">Global</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="humans-tab" data-bs-toggle="tab" data-bs-target="#humans-tab-content" type="button" role="tab" aria-controls="humans-tab-content" aria-selected="false">Humans</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="zombies-tab" data-bs-toggle="tab" data-bs-target="#zombies-tab-content" type="button" role="tab" aria-controls="zombies-tab-content" aria-selected="false">Zombies</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="squad-tab" data-bs-toggle="tab" data-bs-target="#squad-tab-content" type="button" role="tab" aria-controls="squad-tab-content" aria-selected="false">Squad</button>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">

                <div class="tab-pane show active" id="global-tab-content" role="tabpanel" aria-labelledby="global-tab">

                  <div class="show-chat-message p-2 my-2">
                    <p><span>Player1: </span> <span>placeholder message</span></p>
                    <p><span>Player2: </span> <span>other placeholder message</span></p>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control mb-2" id="global-chat-input" placeholder="Type your message">
                    <a class="btn btn-info text-dark">Send</a>
                  </div>
                </div>


                <div class="tab-pane" id="humans-tab-content" role="tabpanel" aria-labelledby="humans-tab">

                  <div *ngIf="player && player.isHuman" class="show-chat-message p-2 my-2 humans-chat-display">
                    <p><span>Human1: </span> <span>some message</span></p>
                    <p><span>Human2: </span> <span>something else</span></p>
                  </div>
                  <div *ngIf="player && !player.isHuman" class="show-chat-message p-2 my-2 humans-chat-display">
                    <p class="text-danger">Hey, you're not a Human! Stop spying!</p>
                  </div>
                  <div *ngIf="player && player.isHuman" class="mb-3 humans-chat-send-container">
                    <input type="text" class="form-control mb-2" id="humans-chat-input" placeholder="Type your message">
                    <a class="btn btn-info text-dark">Send</a>
                  </div>

                </div>

                <div class="tab-pane" id="zombies-tab-content" role="tabpanel" aria-labelledby="zombies-tab">

                  <div *ngIf="player && !player.isHuman" class="show-chat-message p-2 my-2 zombies-chat-display">
                    <p><span>Zombie1: </span> <span>bullshit message</span></p>
                    <p><span>Zombie2: </span> <span>reply</span></p>
                  </div>
                  <div *ngIf="player && player.isHuman" class="show-chat-message p-2 my-2 zombies-chat-display">
                    <p class="text-danger">Hey, you're not a Zombie! Stop spying!</p>
                  </div>
                  <div *ngIf="player && !player.isHuman" class="mb-3 zombies-chat-send-container">
                    <input type="text" class="form-control mb-2" id="zombies-chat-input" placeholder="Type your message">
                    <a class="btn btn-info text-dark">Send</a>
                  </div>

                </div>

                <div class="tab-pane" id="squad-tab-content" role="tabpanel" aria-labelledby="squad-tab">

                  <div class="show-chat-message p-2 my-2">
                    <p><span>Squadmem1: </span> <span>some crap</span></p>
                    <p><span>Squadmem2: </span> <span>other crap</span></p>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control mb-2" id="squad-chat-input" placeholder="Type your message">
                    <a class="btn btn-info text-dark">Send</a>
                  </div>

                </div>
              </div>
            </div>


            <a class="btn btn-light text-dark" routerLink="">Back to list</a>

          </div>

        </div>
    </div>
  </div>
</div>
