//.background {
//  background: url("../../../assets/images/green-pink.jpg");
//  background-repeat: repeat;
//  background-size: contain;
//  background-position-x: left;
//  background-position-y: top;
//  height: 100vh;
//}

.show-chat-message {
  min-height: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
